footer {
padding: 1em 0em;
}

.footer_separator{
margin: 1em 0em;
    border: 1.5px solid #ff6600;
}

.footer_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_container a{
    text-decoration: none;
    color: black;
}

.footer_links{
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    font-size: 0.8em;
}

/* a:visited {
    color: gray;
  } */
