.main {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #000;
    text-decoration: none;
    background-color: #f6f6ef;
    min-height: 100vh;
    width: calc(100% - 2rem);
    padding: 1rem;
    overflow-x: hidden;
}

.header {
  background-color: #ff6600;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-div {
  display: flex;
  align-items: center;
  color:#000;
  text-decoration: none;
  cursor: pointer;
}

.header .logo {
  border: 1px solid white;
  margin: 0 .5rem;
}

.header h1 {
  font-size: 16px;
}

.header-left, .header-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  gap: .3rem;
}

nav li {
  list-style-type: none;
  cursor: pointer;
}

.small-text {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 8pt;
    color: #828282;
  text-decoration: none /* added for the small links aside of the titles to remove the underline */
}

.title a {
  color: unset;
  text-decoration: none;
}

.title a:visited {
  color: #828282;
}

h2.no-result {
  justify-self: center;
  align-self: center;
  text-align: center;
  margin: 3rem 0;
}

.not-found {
  text-align: center;
  margin: 5rem auto;
}

.post-div {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: .5rem;
}

.number-upvote {
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
  color: #828282;
}

.arrow-up {
  font-size: 20px;
}

.pagination {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pagination button {
  padding: .4rem .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ff6600;
  border-radius: 3px;
  background: transparent;
  color: #ff6600;
}

@media only screen and (max-width: 750px) {

  .title {
      font-size: 11pt;
      line-height: 14pt;
  }

  .small-text {
    font-size: 10pt;
  
  }
}

/*              //this is for the Markup <em> tags in search context.js (not working as expected)
.post-div em {
  background: #ff0!important;
  color: #000!important;
  font-style: normal;
  font-weight: 700;
} */

